<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

<h1>Information</h1>

<p>
    This site you can use if you need to make password for your new account in social media,
    E-mail or something like that. In home page you can choose the options for your password and thereby
    your password may be very secure.
</p>

<p>Created by Siianytsia Philip</p>

<a href="{% url 'home' %}">Home</a>